* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type:disc;
    color: tomato;
}

img {
    position: relative;
}

.nazwa {
    color: tomato;
    
}

.nazwa2 {
    color: black;
}

.nazwa,
.nazwa2 {
    display: inline-block;
    margin-top: 130px;
    margin-bottom: 110px;
}

.pomidor {
    height: 250px;
    width: auto;
    float: left;
}

.lista.przepisy {
    font-size: 18px;
    margin: 10px;
    line-height: 1.6;
    /* background-color: #e2b260; */
}

div a {
    color: black;
}

.list-ingredients li {
    color: black;
    margin-left: 3px;   
    margin-bottom: 5px;            
}


.logo {
    margin-bottom: 90px;
}

.preview {
    float: left;
    margin-right: 5px;
    height: 350px;
    
}

.recipe-ingredients,
.separator, 
.directions {
    display: inline-block;
}

.recipe-ingredients,
.directions {
    width: 650px;
    height: 500px;
    margin-left: 40px;
    margin-right: -280px;     
    padding: 5px;
}

.separator {
    border-left: 0.5em dotted tomato;
    height: 220px;
}

h1 {
    word-spacing: 1ch;
    color: tomato;
}

h3 {
    color: #e2b260;
}

.description p {
    margin-left: 500px;
}



.title {
    text-align: left;
    margin-bottom: 30px;
}